@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

:root{
  --text-color: #ffffff;
  --card-front-color: #772D2D;
  --card-back-color: #772D2D;
}

body {
  background: url(img/bg-desktop-red.webp);
  font-family: Gluten;
}
